%table.table.table-bordered
  %tr
    %th Month
    %th{:colspan => "3", :scope => "colgroup", :align => "center"}Work Request Delivery Cycle Time
    %th{:colspan => "3", :scope => "colgroup", :align => "center"}Work Request Delivery Effort
  %tr
    %th Minimum
    %th Maximum
    %th Average
    %th Minimum
    %th Maximum
    %th Average
  %tr
    %td{:rowspan => "4"} Jan 2014
    %td.danger High
    %td 
      = @complexity_counts['High']
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('New Requirement', @complexity_requests_hash['High']) : 0
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('Change Request', @complexity_requests_hash['High']) : 0
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('Delivery Defect', @complexity_requests_hash['High']) : 0
  %tr
    %td.danger Minimum
    %td 
      = @complexity_counts['High']
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('New Requirement', @complexity_requests_hash['High']) : 0
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('Change Request', @complexity_requests_hash['High']) : 0
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('Delivery Defect', @complexity_requests_hash['High']) : 0
  
  %tr
    %td.danger Low
    %td 
      = @complexity_counts['High']
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('New Requirement', @complexity_requests_hash['High']) : 0
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('Change Request', @complexity_requests_hash['High']) : 0
    %td
      = @complexity_requests_hash['High'].present? ? get_request_count('Delivery Defect', @complexity_requests_hash['High']) : 0
              