%table.table.table-bordered.table-condensed
  %tr
    %th Month
    %th Complexity
    %th{:colspan => "3", :scope => "colgroup", :style => "text-align:center"}Work Request Delivery Cycle Time (in days)
    %th{:colspan => "3", :scope => "colgroup", :style => "text-align:center"}Work Request Delivery Effort (in hours)
  %tr
    %th
    %th
    %th Minimum
    %th Maximum
    %th Average
    %th Minimum
    %th Maximum
    %th Average
  %tr
    %td{:rowspan => "4"} Jan 2014
    %td.danger High
    / cycle time
    %td= @complexity_cycle_hash['High'].present? ? convert_to_days(@complexity_cycle_hash['High'][0]) : 0
    %td= @complexity_cycle_hash['High'].present? ? convert_to_days(@complexity_cycle_hash['High'][1]) : 0
    %td= @complexity_cycle_hash['High'].present? ? convert_to_days(@complexity_cycle_hash['High'][2]) : 0
    / effort
    %td= @complexity_effort_hash['High'].present? ? convert_to_hours(@complexity_effort_hash['High'][0]) : 0
    %td= @complexity_effort_hash['High'].present? ? convert_to_hours(@complexity_effort_hash['High'][1]) : 0
    %td= @complexity_effort_hash['High'].present? ? convert_to_hours(@complexity_effort_hash['High'][2]) : 0
  %tr
    %td.warning Minimum
    %td= @complexity_cycle_hash['Medium'].present? ? convert_to_days(@complexity_cycle_hash['Medium'][0]) : 0
    %td= @complexity_cycle_hash['Medium'].present? ? convert_to_days(@complexity_cycle_hash['Medium'][1]) : 0
    %td= @complexity_cycle_hash['Medium'].present? ? convert_to_days(@complexity_cycle_hash['Medium'][2]) : 0
    / effort
    %td= @complexity_effort_hash['Medium'].present? ? convert_to_days(@complexity_effort_hash['Medium'][0]) : 0
    %td= @complexity_effort_hash['Medium'].present? ? convert_to_days(@complexity_effort_hash['Medium'][1]) : 0
    %td= @complexity_effort_hash['Medium'].present? ? convert_to_days(@complexity_effort_hash['Medium'][2]) : 0
  %tr
    %td.success Low
    %td= @complexity_cycle_hash['Low'].present? ? convert_to_days(@complexity_cycle_hash['Low'][0]) : 0
    %td= @complexity_cycle_hash['Low'].present? ? convert_to_days(@complexity_cycle_hash['Low'][1]) : 0
    %td= @complexity_cycle_hash['Low'].present? ? convert_to_days(@complexity_cycle_hash['Low'][2]) : 0
    / effort
    %td= @complexity_effort_hash['Low'].present? ? convert_to_days(@complexity_effort_hash['Low'][0]) : 0
    %td= @complexity_effort_hash['Low'].present? ? convert_to_days(@complexity_effort_hash['Low'][1]) : 0
    %td= @complexity_effort_hash['Low'].present? ? convert_to_days(@complexity_effort_hash['Low'][2]) : 0
              