%table.table.table-bordered.table-condensed#background-image
  %tr
    %th Month
    %th Total Review Defects
    %th Total Review Effort (Hrs)
    %th Total Testing Defects
    %th In-process Defects
    %th Delivered Defects
    %th Review Efficiency (Defects/hrs)
    %th Review Effectiveness (%)
    %th Testing Effectiveness (%)
    %th Defect Removal Efficiency (%)
  %tr
    %td Jan 2014
    %td= @defect_counts['Review Defect']
    %td= @total_review_effort
    %td= @defect_counts['Testing Defect']
    - inprocess_defects = get_inprocess_defects(@defect_counts)
    %td= inprocess_defects
    %td= @defect_counts['Delivered Defect']
    %td= get_review_efficiency(@defect_counts['Review Defect'],@total_review_effort )
    %td= get_review_effectiveness(@defect_counts['Review Defect'], inprocess_defects)
    %td= get_testing_effectiveness(@defect_counts['Testing Defect'], inprocess_defects)
    %td= get_defect_removal_efficiency(inprocess_defects, @defect_counts['Delivered Defect'])
