%table#background-image.table.table-bordered
  %tr
    %th Phase
    %th Activity
    %th Efforts (Hrs)
    %th Phase Total (Hrs)
    %th Phase (%)
  %tr
    %td Analysis
    %td Requirement & Impact Analysis
    %td= @analysis_effort
    %td= @analysis_effort
    %td= get_percentage(@analysis_effort, @total_effort)
  / Design Row Start  
  %tr
    %td{:rowspan => 2} Design
    %td Solution Design
    %td= @solution_design_effort
    %td{:rowspan => 2}= @total_design_phase_effort
    %td{:rowspan => 2}= get_percentage(@total_design_phase_effort, @total_effort)
  %tr
    %td Test Case Design (QA/Unit Test)
    %td= @testcase_design_effort
  / Design Row end
  / Review Row Starts
  %tr
    %td{:rowspan => 4} Review
    %td Requirement/Impact Analysis Review
    %td= @analysis_review_effort
    %td{:rowspan => 4}= @total_review_phase_effort
    %td{:rowspan => 4}= get_percentage(@total_review_phase_effort, @total_effort)
  %tr
    %td Solution Design Review
    %td= @solution_design_review_effort
  %tr
    %td Test Case Review
    %td= @testcase_review_effort
  %tr
    %td Code Review
    %td= @code_review_effort
  / Review Row Ends  
  / Development row Starts
  %tr
    %td Development
    %td Coding/Self Unit Testing
    %td= @development_effort
    %td= @development_effort
    %td= get_percentage(@development_effort, @total_effort)
  / Development row Ends
  / Testing Row Starts
  %tr
    %td{:rowspan => 2} Testing
    %td Peer Functional Testing
    %td= @peer_functional_testing_effort
    %td{:rowspan => 2}= @total_testing_phase_effort
    %td{:rowspan => 2}= get_percentage(@total_testing_phase_effort, @total_effort)
  %tr
    %td Pre-Release/QA Testing
    %td= @prerelease_qa_testing_effort
  / Testing Row Ends
  / Defect Fix Row Starts
  %tr
    %td Defect Fix
    %td Rework
    %td= @defect_fix_effort
    %td= @defect_fix_effort
    %td= get_percentage(@defect_fix_effort,@total_effort)
  / Defect Fix Row Ends
  / Total Row Starts
  %tr
    %td Total
    %td 
    %td 
      %b= @total_effort
    %td
    %td
  / Total Row Ends  

